<br>

<h1>Tomodachi</h1>

<div class="center">
  <div class="vertical-center">
    <h1>Log Into Your Account</h1>

    <h4><%= flash[:notice] %></h4>

    <%= form_tag(login_path) do %>
      <%= label_tag :email %>
      <%= text_field_tag :email %><br>

      <%= label_tag :password %>
      <%= password_field_tag :password %><br>

      <%= submit_tag  'Login', class: "btn btn-light"%><br><br>
    <% end %>

    <p>OR: </p>
    <%= button_to "Create New Account", new_user_path, method: :get, class: "btn btn-light" %>
  </div>
</div>


<STYLE TYPE="text/css" MEDIA=screen>

  body  {
    background-image: url("https://wallpaperplay.com/walls/full/d/7/f/86247.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    font-family: 'VT323', monospace;
    text-align: center;
    }

    .center {
    margin: auto;
    width: 50%;
    }

    .vertical-center {
    margin: auto;
    margin-top: 10%;
    border: 3px solid red;
    padding: 50px;
    background-color:rgb(255,255,255,0.5);
    }


</STYLE>
