<h1><%= @heart_string.user.name %> & <%= @heart_string.tomodachi.name %></h1>

<% if @heart_string.chat %>
  <% if @heart_string.tomodachi != current_user %>
    <%= link_to "continue chatting with #{@heart_string.tomodachi.name}", chat_path(@heart_string.chat) %>
  <% else %>
    <%= link_to "continue chatting with #{@heart_string.user.name}", chat_path(@heart_string.chat) %>
  <% end %>
<% else %>
  <%= link_to 'start chat', start_chat_path(@heart_string) %>
<% end %>


<h4> photos </h4>

<%= form_for @photo do |f| %>
  <%= f.file_field :photo %>
  <%= f.hidden_field :heart_string_id %>
  <%= f.submit "Add Photo"%>
<% end %>

<% @heart_string.photos.each do |photo| %>
<%= image_tag photo.photo %>
<% end %>
