
<h3 class="text-center"> chat page  </h3>

<% if @current_user == @chat.heart_string.user || @current_user == @chat.heart_string.tomodachi %>

<%= form_for @message do |f| %>
  <p>
<p class="text-center">    write a message: <%= f.text_field :content %> </p>
    <%= f.hidden_field :user_id %>
    <%= f.hidden_field :chat_id %>
    <%= f.hidden_field :valentime, value: Time.now %>
  </p>
<p class="text-center"> <%= f.submit class: "btn btn-light" %> </p>
<% end %>




your chat :
<% @chat.messages.reverse_order.each do  |message| %>
<div class="row">
  <div class="col">
     <%= message.user.name %> says

  </div>
  <div class="col">
     <%= message.content %>

  </div>
  <div class="col">
     <%= message.valentime.strftime("%b %d, %l:%M %P") %>

  </div>
</div>
<% end %>

<% else %>
<p>Sorry. You do not have access to this page!</p>

<% end %>
