
chat page


<%= form_for @message do |f| %>
  <ul>
write a message: <%= f.text_field :content %>
<%= f.hidden_field :user_id, value: @chat.users.first.id %>
<%= f.hidden_field :valentime, value: Time.now %>
<%= f.hidden_field :chat_id, value: @chat.id %>

<br>
    <%= f.submit %>

    <% end %>

  </ul>



your chat :

<% @chat.messages.each do  |message| %>
<p> <%= message.user.name %> says </p>
<p> <%= message.content %> </p>
<p> <%= message.valentime %> </p>
<% end %>
